@model Gry_Słownikowe.Models.ICrosswordModelReadOnly

@{
    int crosswordColumns = Model.Columns;
    int crosswordRows = Model.Rows;

    ViewData["Title"] = "Krzyżówki";
}

<style>
    .cell {
        width: 50px; /* ustaw odpowiednią szerokość */
        height: 50px; /* ustaw odpowiednią wysokość */
        margin: 1px; /* ustaw marginesy na 0 */
        padding: 0; /* ustaw wypełnienie na 0 */
        display: inline-block; /* aby elementy układały się obok siebie */
        text-align: center; /* wycentruj tekst wewnątrz diva */
        border: 1px solid black;
        background-color: yellow;
    }

    .cell:not(.guessed-cell):hover {
        background-color: darkgoldenrod;
    }

    .cell_noBoreder{
        width: 50px; /* ustaw odpowiednią szerokość */
        height: 50px; /* ustaw odpowiednią wysokość */
        margin: 1px; /* ustaw marginesy na 0 */
        padding: 0; /* ustaw wypełnienie na 0 */
        display: inline-block; /* aby elementy układały się obok siebie */
        text-align: center; /* wycentruj tekst wewnątrz diva */
    }

    .row{
        width: @crosswordColumns * 50px;
        display: flex;
        max-height: 52px;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .letterInput {
        border: none; /* Usunięcie ramki */
        background-color: transparent; /* Przezroczyste tło */
        padding: 0; /* Usunięcie wewnętrznego odstępu */
        width: 100%; /* Pełna szerokość */
        height: 100%; /* Pełna wysokość */
        outline: none; /* Usunięcie podświetlenia na focusie */
        box-sizing: border-box; /* Model pudełka */
        text-align: center;
        text-transform: uppercase;
    }

    .container{  
        user-select: none;
        width: @crosswordColumns * 50px;
        height: @crosswordRows * 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 0;
    }
</style>

<h1>Krzyżówki beta - 10 wyrazow</h1>

<h2>
    Krzyzówka @crosswordColumns
</h2>

<div class="container">
    @for (int y = 0; y < crosswordRows; y++)
    {
        <div class="row">
            @for (int x = 0; x < crosswordColumns; x++)
            {
                string inputId = $"{y}_{x}";
                string divID = "div_"+inputId;
                if (Model[y, x] != null)
                {
                    if (@Model[y, x].FirstLetter)
                    {
                        <div id="@divID" class="cell" oninput="handleWrite('@inputId', '@Model[y,x].WordNumber')" >
                            <input id="@inputId" onblur="restoreNumber('@inputId', '@Model[y,x].WordNumber')" onfocus="removeNumber('@inputId')" class="letterInput" type="text" maxlength="1" value="@Model[y,x].WordNumber" />
                        </div>
                    }
                    else
                    {
                        <div id="@divID" class="cell" oninput="handleWrite('@inputId')">
                            <input id="@inputId" class="letterInput" type="text" maxlength="1"  />
                        </div>
                    }

                }
                else
                {
                    <div class="cell_noBoreder"></div>
                }
            }
        </div>
    }
</div>

<h2>
    Definicje
</h2>

<ol>
    @for (int i = 0; i < Model.GetDescriptions().Count; i++)
    {
        <li>@Model.GetDescriptions()[i]</li>
    }
</ol>

<script>

    function restoreNumber(inputId, wordNumber){
        var input = document.getElementById(inputId);
        var div = document.getElementById("div_" + inputId);
        if (!input.disabled) {
            input.value = wordNumber;
        }
    }

    function removeNumber(inputId) {
        var input = document.getElementById(inputId);
        input.value = "";
    }

    function handleWriteFirstLetter(inputId, wordNumber) {
        if (!handleWrite(inputId)) {
            var input = document.getElementById(inputId);
            input.value = wordNumber;
        }
    }

    function handleWrite(inputId, wordNumber) {
        var input = document.getElementById(inputId);
        var letter = input.value;
        var coords = inputId.split("_");
        var row = coords[0];
        var column = coords[1];
        $.ajax({
            url: '/Home/GuessLetter',
            type: 'POST',
            data: { row: row, column: column, letter: letter },
            success: function (response) {
                if (response.success) {
                    input.setAttribute("disabled", true);
                    var div = document.getElementById("div_" + inputId);
                    div.style.backgroundColor = "lightgreen";
                    div.classList.add(".guessed-cell");
                } else {
                    if (wordNumber == undefined) {
                        input.value = "";               
                    }else{
                        input.value = wordNumber;
                    }
                    input.setAttribute("disabled", true);
                    input.removeAttribute("disabled");
                }
            },
            error: function (xhr, status, error) {
                console.error('Błąd:', error);
            }
        });
    }

</script>



