@model Gry_Słownikowe.Models.ICrosswordModelReadOnly

@{
    int crosswordColumns = Model.Columns;
    int crosswordRows = Model.Rows;
    int wordsCount = Model.Words;
    int letters = Model.Letters;
    int words = Model.Words;
    double generationTime = Model.GetGenerationTimeInMils();
    ViewData["Title"] = "Krzyżówki";
}

<style>

    .cell {
        font-size: 1.5vw;
        font-weight: bold;
        width: 100%; /* 100% szerokości komórki */
        height: 100%; /* 100% wysokości komórki */
        text-align: center; /* Wyśrodkowanie zawartości w poziomie */
        display: flex; /* Ustawienie na flex, aby umożliwić wyśrodkowanie zawartości w pionie */
        align-items: center; /* Wyśrodkowanie zawartości w pionie */
        justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
        border: 0.15vw solid #586f7c; /* Obramowanie */
        background-color: #b8dbd9; /* Kolor tła */
        border-radius: 15%;
    }

    .cell:not(.guessed-cell):not(.first_letter):hover {
        background-color: #f4f4f9;
    }

    .first_letter:not(.guessed-cell):hover {
        background-color: #b8dbd9;
        color: #f4f4f9;
    }

    .first_letter{
        background-color: #f4f4f9
    }

    .cell_noBoreder{
        width: 100%; /* 100% szerokości komórki */
        height: 100%; /* 100% wysokości komórki */
    }

    .letterInput {
        border: none; /* Usunięcie ramki */
        background-color: transparent; /* Przezroczyste tło */
        padding: 0; /* Usunięcie wewnętrznego odstępu */
        width: 100%; /* Pełna szerokość */
        height: 100%; /* Pełna wysokość */
        outline: none; /* Usunięcie podświetlenia na focusie */
        box-sizing: border-box; /* Model pudełka */
        text-align: center;
        text-transform: uppercase;
        color: inherit;
    }

    .grid_container {
        display: grid;
        grid-template-columns: repeat(@crosswordColumns, 3vw); /* Powtarzaj kolumny o szerokości 50px */
        grid-template-rows: repeat(@crosswordRows, 3vw); /* Powtarzaj rzędy o wysokości 50px */
        gap: 0.15vw; /* Odstęp między komórkami */
        justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
        align-content: center; /* Wyśrodkowanie zawartości w pionie */
        z-index: 1;
        top: 0;
        left: 0;
    }

    .header{
        width: 100%;
        position: relative;
    }

    .start_container{
        background-color: #b8dbd9;
        border-radius: 30px;
        text-align: center; /* Wyśrodkowanie zawartości w poziomie */
        display: flex; /* Ustawienie na flex, aby umożliwić wyśrodkowanie zawartości w pionie */
        width: 100%;
        flex-direction: column;
        justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
        align-content: center; /* Wyśrodkowanie zawartości w pionie */
        row-gap: 15px;
        padding: 30px;
    }

    .main_container{
        padding: 0;
        margin: 0;
        width: 100%;
        min-height: 100%;
        display: flex;
        row-gap: 10px;
        flex-direction: column;

    }

    .descriptions_container{
        width: 100%;
        background-color: #b8dbd9;
        border-radius: 30px;
        padding: 30px;
    }

    .crossword_container{
        width: 100%;
        background-color: #f4f4f9;
        border-radius: 30px;
        padding: 30px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .result_container{
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: #b8dbd9;
        border-radius: 30px;
        row-gap: 10px;
        z-index: 2;
        text-align: center;
        display: flex; 
        justify-content: center;
        flex-direction: column;
        align-content: center;
        transition: 0.3s ease;
        padding: 30px;
    }

    .slide{
        left: -100vw;  
    }

    button{
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: max-content;
        border-radius: 5px;
        border: 0.15vw solid #586f7c;
        background-color: #f4f4f9;
    }

    a {
        text-decoration: none; /* Usuwa podkreślenie */
        color: inherit;
        cursor: pointer;
    }

    a:hover{
        color: #f4f4f9;
    }

    button:hover {
        border-color: #f4f4f9;
    }
    
</style>

<main class="main_container">
    <section class="header">
        <div class="start_container">
            <h1>
                Rozwiążmy krzyżówkę!
            </h1>
            <h3>
                Czas generacji: @generationTime ms
            </h3>
            <h3>
                <a href="#defnicje">
                    Do defincji...
                </a>
            </h3> 
            <button onclick ="newCrossword()">Inna krzyżówka</button>
        </div>

        <div id="result_div" class="result_container slide">
            <h1>Gratulacje!</h1>
            <h3>Twój wynik: @letters odgadniętych liter! (@words słów)</h3>
            <h3 id="time_h"></h3>
            <button onclick="window.location.href='@Url.Action("KrzyzowkaMenu", "Home")'">Powrót do menu</button>
        </div>
    </section>

    <section class="crossword_container">

        <div class="grid_container">
            @for (int y = 0; y < crosswordRows; y++)
            {
                @for (int x = 0; x < crosswordColumns; x++)
                {
                    string inputId = $"{y}_{x}";
                    string divID = "div_" + inputId;
                    if (Model[y, x] != null)
                    {
                        if (@Model[y, x].FirstLetter)
                        {
                            <div id="@divID" class="cell first_letter" oninput="handleWrite('@inputId', '@Model[y,x].WordNumber')" >
                                <input autocomplete="off" id="@inputId" onblur="restoreNumber('@inputId', '@Model[y,x].WordNumber')" onfocus="removeNumber('@inputId')" class="letterInput" type="text" maxlength="1" value="@Model[y,x].WordNumber" />
                            </div>
                        }
                        else
                        {
                            <div id="@divID" class="cell" oninput="handleWrite('@inputId')">
                                <input autocomplete="off" id="@inputId" class="letterInput" type="text" maxlength="1" />
                            </div>
                        }

                    }
                    else
                    {
                        <div class="cell_noBoreder"></div>
                    }
                }
            }
        </div>
    </section>

    <section class="descriptions_container">

        <h2 id="defnicje">
            Definicje
        </h2>

        <ol>
            @for (int i = 0; i < Model.GetDescriptions().Count; i++)
            {
                <li>@Model.GetDescriptions()[i]</li>
            }
        </ol>

    </section>

</main>

<script>

    function newCrossword(){
        let result = confirm("Czy na pewno chcesz zmienić krzyżówkę?");
        if (result === true) {
            location.reload();
        } 
    }

    function restoreNumber(inputId, wordNumber){
        let input = document.getElementById(inputId);
        if (!input.disabled) {
            input.value = wordNumber;
        }
    }

    function removeNumber(inputId) {
        let input = document.getElementById(inputId);
        input.value = "";
    }

    function checkIfIsFinished() {
        $.ajax({
            url: '/Home/CheckIfFinished',
            type: 'POST',
            data: {},
            success: function (response) {
                if (response.success) {
                    let resultDiv = document.getElementById("result_div");
                    let timeH = document.getElementById("time_h");
                    resultDiv.classList.remove("slide");
                    timeH.innerText = "Czas rozwiązania: " + response.time + " sekund(y)";
                } 
            },
            error: function (xhr, status, error) {
                console.error('Błąd:', error);
            }
        });
    }

    function handleWrite(inputId, wordNumber) {
        let input = document.getElementById(inputId);
        let letter = input.value;
        let coords = inputId.split("_");
        let row = coords[0];
        let column = coords[1];
        $.ajax({
            url: '/Home/GuessLetter',
            type: 'POST',
            data: { row: row, column: column, letter: letter },
            success: function (response) {
                if (response.success) {
                    input.setAttribute("disabled", true);
                    let div = document.getElementById("div_" + inputId);
                    div.classList.add(".guessed-cell");
                    if(wordNumber == undefined){
                        div.style.backgroundColor = "#badbb8";
                    }else{
                        div.style.backgroundColor = "#ccdbb8";
                    }
                    checkIfIsFinished();
                } else {
                    if (wordNumber == undefined) {
                        input.value = "";               
                    }else{
                        input.value = wordNumber;
                    }
                    input.setAttribute("disabled", true);
                    input.removeAttribute("disabled");
                }
            },
            error: function (xhr, status, error) {
                console.error('Błąd:', error);
            }
        });
    }

</script>



