@model Gry_Słownikowe.Models.ICrosswordModelReadOnly

@{
    int crosswordColumns = Model.Columns;
    int crosswordRows = Model.Rows;

    ViewData["Title"] = "Krzyżówki";
}

<style>
    .cell {
        width: 50px; /* ustaw odpowiednią szerokość */
        height: 50px; /* ustaw odpowiednią wysokość */
        margin: 1px; /* ustaw marginesy na 0 */
        padding: 0; /* ustaw wypełnienie na 0 */
        display: inline-block; /* aby elementy układały się obok siebie */
        text-align: center; /* wycentruj tekst wewnątrz diva */
        border: 1px solid black;
    }

    .cell_noBoreder{
        width: 50px; /* ustaw odpowiednią szerokość */
        height: 50px; /* ustaw odpowiednią wysokość */
        margin: 1px; /* ustaw marginesy na 0 */
        padding: 0; /* ustaw wypełnienie na 0 */
        display: inline-block; /* aby elementy układały się obok siebie */
        text-align: center; /* wycentruj tekst wewnątrz diva */
    }

    .row{
        margin: 0;
        padding: 0;
    }

    .container{
        margin: 0;
        padding: 0;
    }
</style>

<h1>!TEST!</h1>

<h2>
    Krzyzówka
</h2>
<div class="container">
    @for (int y = 0; y < crosswordRows; y++)
    {
        <div class="row">
            @for (int x = 0; x < crosswordColumns; x++)
            {
                string cellId = $"{x}_{y}";
                if (Model[y, x] != null)
                {
                    if (@Model[y, x].FirstLetter)
                    {
                        <div id="@cellId" class="cell" style="background-color:darkgoldenrod;">
                            @Model[y, x].WordNumber
                            .
                            @Model[y, x].Value
                           </div>
                    }
                    else
                    {
                        <div id="@cellId" class="cell" style="background-color: yellow;">@Model[y, x].Value</div>
                    }

                }
                else
                {
                    <div id="@cellId" class="cell_noBoreder"></div>
                }
            }
        </div>
    }
</div>

<h2>
    Definicje
</h2>

<ol>
    @for (int i = 0; i < Model.GetDescriptions().Count; i++)
    {
        <li>@Model.GetDescriptions()[i]</li>
    }
</ol>

