@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Slownikowo";
}

@model Gry_Slownikowe.Models.SlownikowoModel

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Slownikowo</title>

    <style>

        body {
            background-color: #212529;
        }

        footer{
            background-color: white
        }
        .kolo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        .szare {
            background-color: gray;
        }

        .zolte {
            background-color: #DDA448;
        }

        .zielone {
            background-color: green;
        }

        .czerwone {
            background-color: #BB342F;
        }

        #container {
            font-family: Helvetica;
            display: flex; 
            align-items: center;
        }
        #maingame {
            color: #F7F7FF;
            flex: 1;
            text-align: center;
            margin-top: 100px;
        }

        #circles{
            padding-top: 30px;
            margin-left: 20px;
        }

        #wpisaneSlowo {
            margin-bottom: 10px;
        }

        #wyzej, #nizej {
            margin-top: 20px;
        }

        .zielona-litra {
            color: lightgreen;
        }

        .czarna-litra {
            color: #F7F7FF;
        }

        .wpisane-slowo p {
            display: inline-block;
            margin: 0;
        }

    </style>
</head>

<body>
    <div id="container">
        <div id="circles">
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
            <div class="kolo szare"></div>
        </div>

        <div id="maingame">
            <meta charset="UTF-8">
            <h1 style="font-size: 50px">Słownikowo</h1>
            <p>Wpisz słowo (lub 'q' aby zakończyć):</p>
            <div id="wyzej" style=" font-weight: 600"></div>
            <input type="text" id="wpisaneSlowo">
            @* <div id="debug"></div> *@
            <div id="wynik" style="font-weight: 600"></div>
            <div id="nizej" style="font-weight: 600"></div>
        </div>

        
    </div>
    <script type="text/javascript">
        var startTime = new Date();
        var slowa = [];
        //kontenery słów
        var wyzejSlowa = [];
        var nizejSlowa = [];

        var gameStatus = false;
        //pobranie wylosowanego słowa
        var wylosowaneSlowo = '@Model.WylosowaneSlowo';
        //przekształcenie go na Raw, by zapobiec problemom ze znakami diakrytycznymi
        var text = @Html.Raw(Json.Serialize(@Model.WylosowaneSlowo));

        //zmienna globalna
        var znalezionoCzarnaLitere = false;

        //zapis do kontenera debug
        //var debug = document.getElementById("debug");
        //debug.textContent = text;

        //zmienna globalna, liczba prób
        var liczbaProb = 0;

        //koła - znaczniki prób
        var kola = document.querySelectorAll('.kolo');
        console.log(kola.length);
        //nasłuchiwacz kliknięcia entera
        document.getElementById("wpisaneSlowo").addEventListener("keydown", function (event) {
            if (event.keyCode === 13) { 
                event.preventDefault(); 
                check(); 
            }
        });

        //główna funkcja sprawdzająca
        function check() {

            //pobiera wpisane słowo
            var wpisaneSlowo = document.getElementById("wpisaneSlowo").value.toLowerCase();
            
            //wyswietlanie wyniku
            var wynik = document.getElementById("wynik");
           
            //porownanie wpisanego slowa z wylosowanym
            var porownanie = porownaj(wpisaneSlowo, text);

            //czyszczenie pola tekstowego
            wynik.textContent = "";
            wynik.textContent = text;

           //czy gracz się poddał?
            if (wpisaneSlowo === 'q') {
                przegrana();
                return;
            }

            //sprawdz czy slowo jest poprawne
            sprawdz().then(function (result) {

                //jesli nie jest
                if (result === false) {
                    wynik.textContent = "Takie slowo nie istnieje";
                }

                //odgadnięto słowo
                else if (porownanie === 0) {

                    //zakoloruj probe na zielono
                    kolorujKola('zielone', liczbaProb + 1);
                    //uniemozliw dalsze zgadywanie
                    gameStatus = true;
                    koniecGry();

                } else if (!slowa.includes(wpisaneSlowo)) {
                    //jesli proba była niepoprawna

                    slowa.push(wpisaneSlowo);
                    //wpisz slowa do odpowiedniego kontenera

                    if (porownanie < 0) {
                        wyzejSlowa.push(wpisaneSlowo);
                    } else {
                        nizejSlowa.push(wpisaneSlowo);
                    }

                    //posortuj kontenery
                    wyzejSlowa.sort();
                    nizejSlowa.sort();

                    //pobierz kontenery do wypisywania slow
                    var wyzejDiv = document.getElementById("wyzej");
                    var nizejDiv = document.getElementById("nizej");

                    //wyczysc je
                    wyzejDiv.innerHTML = "";
                    nizejDiv.innerHTML = "";

                    //wypisz slowa do kontenerow jako pojedyncze litery
                    wyzejSlowa.forEach(function (slowo) {
                        //kontener na slowo
                        var slowoDiv = document.createElement("div");

                        slowoDiv.className = "wpisane-slowo";
                        znalezionoCzarnaLitere = false;
                        slowo.split('').forEach(function (litera, index) {
                            var literaP = document.createElement("p");
                            literaP.innerHTML = podzielSlowo(litera, index);
                            slowoDiv.appendChild(literaP);
                        });
                        wyzejDiv.appendChild(slowoDiv);
                    });

                    nizejSlowa.forEach(function (slowo) {
                        var slowoDiv = document.createElement("div");
                        slowoDiv.className = "wpisane-slowo";
                        znalezionoCzarnaLitere = false;
                        slowo.split('').forEach(function (litera, index) {
                            var literaP = document.createElement("p");
                            literaP.innerHTML = podzielSlowo(litera, index);
                            slowoDiv.appendChild(literaP);
                        });
                        nizejDiv.appendChild(slowoDiv);
                    });

                    liczbaProb++;
                    if (liczbaProb < kola.length) {
                        kolorujKola('zolte', liczbaProb);
                    }
                    else przegrana();

                }
                else {
                    wynik.textContent = "Temat wałkowany setki razy. Było.";
                }

            }).catch(function (error) {
                console.log("Wystąpił błąd: " + error);
            });
        }

        function sendGameData(gameTime) {
            $.ajax({
                url: '@Url.Action("SaveGame", "Home")', // URL do metody w kontrolerze
                type: 'POST',
                data: {
                    win: gameStatus,
                    tries: liczbaProb+1,
                    gameTime: gameTime
                },
                success: function (response) {
                    console.log('Data saved successfully:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error saving data:', {
                        readyState: xhr.readyState,
                        status: xhr.status,
                        statusText: xhr.statusText,
                        responseText: xhr.responseText
                    });
                }
            });
        }
        
        function przegrana() {
            kolorujKola('czerwone', liczbaProb);
            gameStatus = false;
            koniecGry();
        }

        function koniecGry(){
            endTime = new Date();
            const gameTime = endTime - startTime;
            wynik.textContent = "Koniec gry. Wylosowane słowo to: " + text + ". A twój czas wyniósł: " + gameTime/1000;
            sendGameData(gameTime);
            document.getElementById("wpisaneSlowo").disabled = true;
        }

        function sprawdz() {
            return new Promise(function (resolve, reject) {
                var wpisaneSlowo = document.getElementById("wpisaneSlowo").value.toLowerCase();
                //console.log("Jestem w sprawdzeniu ");
                if (wpisaneSlowo.trim() !== "") {
                    $.ajax({
                        url: '@Url.Action("SprawdzSlowo", "Home")',
                        type: 'POST',
                        dataType: 'json',
                        data: { wpisaneSlowo: wpisaneSlowo },
                        success: function (response) {
                            if (response.isCorrect) {
                                // Jeśli słowo jest poprawne, wyświetlamy odpowiednią informację na stronie
                                //console.log("slowo jest");
                                resolve(true);
                            } else {
                                // Jeśli słowo jest niepoprawne, wyświetlamy inną informację
                                //console.log("slowa nie ma");
                                resolve(false);
                            }
                        },
                        error: function () {
                            // Obsługa błędu AJAX
                            console.log("Wystąpił błąd podczas wysyłania żądania AJAX.");
                            reject(false);
                        }
                    });
                } else {
                    resolve(false);
                }
            });
        }

        function porownaj(slowo1, slowo2) {
            return slowo1.localeCompare(slowo2, 'pl', { sensitivity: 'base', localeMatcher: 'best fit' });
        }      

        function podzielSlowo(litera, index) {
            var wynik = '';
            if (!znalezionoCzarnaLitere && text[index] === litera) {
                wynik += '<span class="zielona-litra">' + litera + '</span>';
            } else {
                wynik += '<span class="czarna-litra">' + litera + '</span>';
                znalezionoCzarnaLitere = true;
            }
            return wynik;
        }

        function kolorujKola(kolor, liczba = 0) {
            if (kolor === 'zielone') {
                kola[liczba - 1].classList.remove('szare', 'zolte');
                kola[liczba - 1].classList.add('zielone')
            }
            else {
                for (var i = 0; i < kola.length; i++) {
                    if (i <liczba) {
                        kola[i].classList.remove('szare', 'zolte', 'zielone');
                        kola[i].classList.add(kolor);
                    }
                }
            }
        }

</script>
</body>
</html>