<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/wisielec.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="WelcomeToWisielca">
        <h3 class="display-4">Zagrajmy w Wisielca</h3>
    </div>

    <div class="Kontener_Wisielec">
        <div class="Kontener_Wisielec_Lewy">
            @Html.TextBox("ScreenInput", null, new { @class = "Wisielec_Screen", disabled = "disabled" })
        </div>
        <div class="Kontener_Wisielec_Prawy" id="xd">
            <p id="attemptsCount"></p>
            <img id="wisielecImg" src="~/Graphics/wisielec0.png" alt="Wisielec">
        </div>
    </div>

    <div>
        <br>
        <table class="Klawiatura">
            <tr>
                <td><button type="button" class="btn btn-primary litera">a</button></td>
                <td><button type="button" class="btn btn-primary litera">ą</button></td>
                <td><button type="button" class="btn btn-primary litera">b</button></td>
                <td><button type="button" class="btn btn-primary litera">c</button></td>
                <td><button type="button" class="btn btn-primary litera">ć</button></td>
                <td><button type="button" class="btn btn-primary litera">d</button></td>
                <td><button type="button" class="btn btn-primary litera">e</button></td>
                <td><button type="button" class="btn btn-primary litera">ę</button></td>
                <td><button type="button" class="btn btn-primary litera">f</button></td>
                <td><button type="button" class="btn btn-primary litera">g</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary litera">h</button></td>
                <td><button type="button" class="btn btn-primary litera">i</button></td>
                <td><button type="button" class="btn btn-primary litera">j</button></td>
                <td><button type="button" class="btn btn-primary litera">k</button></td>
                <td><button type="button" class="btn btn-primary litera">l</button></td>
                <td><button type="button" class="btn btn-primary litera">ł</button></td>
                <td><button type="button" class="btn btn-primary litera">m</button></td>
                <td><button type="button" class="btn btn-primary litera">n</button></td>
                <td><button type="button" class="btn btn-primary litera">o</button></td>
                <td><button type="button" class="btn btn-primary litera">ó</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary litera">p</button></td>
                <td><button type="button" class="btn btn-primary litera">r</button></td>
                <td><button type="button" class="btn btn-primary litera">s</button></td>
                <td><button type="button" class="btn btn-primary litera">ś</button></td>
                <td><button type="button" class="btn btn-primary litera">t</button></td>
                <td><button type="button" class="btn btn-primary litera">u</button></td>
                <td><button type="button" class="btn btn-primary litera">w</button></td>
                <td><button type="button" class="btn btn-primary litera">y</button></td>
                <td><button type="button" class="btn btn-primary litera">z</button></td>
                <td><button type="button" class="btn btn-primary litera">ź</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-primary litera">ż</button></td>
                <td><button type="button" class="btn btn-primary litera">q</button></td>
                <td><button type="button" class="btn btn-primary litera">v</button></td>
                <td><button type="button" class="btn btn-primary litera">x</button></td>
                <td></td>
            </tr>
        </table>
    </div>

    @section Scripts
    {
        <script type="text/javascript">
            var wordToGuess = @Html.Raw(Json.Serialize(Model.slowo)); // Słowo do zgadnięcia (będzie losowe)
            var guessedWord = ""; // Zgadnięte litery
            var maxAttempts = 7; // Maksymalna liczba prób
            var currentAttempts = 0; // Aktualna liczba prób
            var startTime = new Date(); // data
            var endTime;

            var buttons = document.getElementsByClassName("litera");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function () {
                    var letter = this.innerText;
                    checkLetter(letter);
                    this.disabled = true; // Wyłącz przycisk po kliknięciu
                });
                
            }

            function checkLetter(letter) {
                var found = false;
                for (var i = 0; i < wordToGuess.length; i++) {
                    //console.log(i);
                    if (wordToGuess[i].toLowerCase() === letter.toLowerCase()) {
                        guessedWord = guessedWord.substring(0, i) + wordToGuess[i] + guessedWord.substring(i + 1);
                        found = true; 
                    }
                }

                if (!found) {
                    currentAttempts++;
                    console.log("Liczba prób po: " + currentAttempts);
                }
                updateWisielecImage(); // Aktualizuj obrazek wisielca
                updateScreen();
                checkGameOver();
            }

            function updateScreen() {
                document.getElementById("ScreenInput").value = guessedWord;
            }

            function updateWisielecImage() {
                var imgElement = document.getElementById("wisielecImg");
                imgElement.src = "/Graphics/wisielec" + currentAttempts + ".png";
            }

            function checkGameOver() {
                
                //updateWisielecImage(); // Aktualizuj obrazek wisielca
                if (currentAttempts >= maxAttempts) {
                    alert("Przegrałeś! Szukane słowo to: " + wordToGuess);
                    var stats = false;
                    var endTime = new Date();
                    var gameTime = endTime - startTime;
                    saveGameData(gameTime, stats);
                    startNewGame(); // Rozpocznij nową grę po przegranej
                } else if (guessedWord.replace(/\s+/g, '').toLowerCase() === wordToGuess.replace(/\s+/g, '').toLowerCase()) {
                    alert("Gratulacje! Zgadłeś słowo: " + wordToGuess);
                    var stats = true;
                    var endTime = new Date();
                    var gameTime = endTime - startTime;
                    saveGameData(gameTime, stats);
                    startNewGame(); // Rozpocznij nową grę po wygranej
                }
            }

            function saveGameData(gameTime, stats) {
                $.ajax({
                    url: '@Url.Action("saveGameData", "Home")',
                    type: 'POST',
                    data: {
                        stats: stats,
                        gameTime: gameTime
                    },
                    success: function (response) {
                        console.log('Data saved successfully:', response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error saving data:', {
                            readyState: xhr.readyState,
                            status: xhr.status,
                            statusText: xhr.statusText,
                            responseText: xhr.responseText
                        });
                    }
                });
            }

           

            async function startNewGame() {
                startTime = new Date();
                var newWord = await sprawdz();
                while (wordToGuess === newWord) {
                    newWord = await sprawdz();
                }
                wordToGuess = newWord;
                guessedWord = wordToGuess.replace(/[a-zA-Ząćęłńóśźż]/g, "_"); // Zakryj litery
                currentAttempts = 0; // Zresetuj liczbę prób
                updateWisielecImage();
                updateScreen();
                var buttons = document.getElementsByClassName("litera");
                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].disabled = false;
                }
            }

            function sprawdz() {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: '@Url.Action("LosujSlowo", "Home")',
                        type: 'POST',
                        dataType: 'json',
                        success: function (response) {
                            resolve(response.slowo);
                        },
                        error: function () {
                            console.log("Wystąpił błąd podczas wysyłania żądania AJAX.");
                            reject(new Error("AJAX request failed"));
                        }
                    });
                });
            }

            guessedWord = wordToGuess.replace(/[a-zA-Ząćęłńóśźż]/g, "_"); // Początkowo zakrywamy litery
            updateScreen();
        </script>
    }
</body>
</html>