@{
    ViewData["Title"] = "Poziom Trudności";
}
@model Gry_Slownikowe.Models.ZgadywankiModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
<style>
    .con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }

    .frame {
        border: 2px solid #000;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    h1.title {
        margin-top: 20px;
        font-size: 2em;
    }

    .poziom-buttons {
        display: flex;
        justify-content: center;
    }

        .poziom-buttons .btn {
            margin: 10px;
        }

    .frame h1 {
        font-size: 1.5em;
        font-weight: bold;
    }


    #klawiatura button {
        margin: 5px;
        padding: 10px;
        font-size: 1em;
        cursor: pointer;
    }

    #ramkaPonumerowanychSlow {
        margin-top: 20px;
    }

    .tytul {
        font-size: 1.2em;
        font-weight: bold;
    }

    .slowo {
        margin-bottom: 10px;
    }

    .slowo input {
       font-size: 1em;
       padding: 5px;
    }

</style>
</head>

<body>
<div class="con">
    <div class="frame" id="ramkaPoziomu">
        <h1>Wybierz poziom trudności:</h1>

        <div class="poziom-buttons">
            <button id="latwy" class="btn btn-primary" onclick="wybierzPoziom('latwy')">Łatwy</button>
            <button id="sredni" class="btn btn-primary" onclick="wybierzPoziom('sredni')">Średni</button>
            <button id="trudny" class="btn btn-primary" onclick="wybierzPoziom('trudny')">Trudny</button>
        </div>
    </div>

    <div id="licznik"></div>

    <div id="kontener">
        <div id="ramkaWybranychSlow" style="margin-bottom: 10px;">
            <h2 class="tytul">Wpisywane słowa:</h2>
            <div id="wybraneLitery" style="margin-bottom: 10px;"></div>
        </div>

       
        <input type="text" id="wpisywaneSłowo" readonly style="margin-bottom: 10px;">
            <button onclick="usunOstatniaLitere()">Backspace</button>
        <button id="przyciskSprawdz" onclick="sprawdz()">Sprawdź</button>

        <div id="klawiatura" style="margin-top: 10px;"></div>

            <div id="ramkaPonumerowanychSlow" style="margin-top: 20px; display: none; ">
                <h2 class="tytul">Słowa do odgadnięcia:</h2>
                <div id="slowo1" class="slowo"></div>
                <div id="slowo2" class="slowo"></div>
                <div id="slowo3" class="slowo"></div>
                <div id="slowo4" class="slowo"></div>
            </div>
            <div id="error" class="error" style="display: none;">Błędne słowo!</div>
        </div>
    </div>

 <script>
        var wybraneLitery = [];
        var poziomWybrany = false; // Zmienna określająca, czy poziom trudności został wybrany
        var czasStartowy;
        var timer;

        var slowo1 = @Html.Raw(Json.Serialize(@Model.Slowo1));
        var slowo2 = @Html.Raw(Json.Serialize(@Model.Slowo2));
        var slowo3 = @Html.Raw(Json.Serialize(@Model.Slowo3));
        var slowo4 = @Html.Raw(Json.Serialize(@Model.Slowo4));

        document.getElementById('slowo1').innerHTML = '<input type="text" value="' + slowo1 + '" readonly>';
        document.getElementById('slowo2').innerHTML = '<input type="text" value="' + slowo2 + '" readonly>';
        document.getElementById('slowo3').innerHTML = '<input type="text" value="' + slowo3 + '" readonly>';
        document.getElementById('slowo4').innerHTML = '<input type="text" value="' + slowo4 + '" readonly>';

        var slowa = [slowo1, slowo2, slowo3, slowo4];

        function najdluzszeSlowo(slowa) {
            let najdluzsze = slowa[0];
            for (let i = 1; i < slowa.length; i++) {
                if (slowa[i].length > najdluzsze.length) {
                    najdluzsze = slowa[i];
                }
            }
            return najdluzsze;
        }

        //inicjalizacja klawiatury
        function inicjujKlawiature() {

            var najdluzsze = najdluzszeSlowo(slowa);

            var klawiatura = document.getElementById('klawiatura');
            klawiatura.innerHTML = '';

            for (var litera of najdluzsze) {
                var button = document.createElement('button');
                button.innerHTML = litera;
                button.disabled = true; // Na początku przyciski są wyłączone
                button.onclick = function () {
                    wybierzLitere(this.innerHTML);
                };
                klawiatura.appendChild(button);
            }
        }

                // Funkcja wybierająca literę
                function wybierzLitere(litera) {
                    wybraneLitery.push(litera); // Dodajemy wybraną literę do tablicy wybranych liter
                    aktualizujWpisywaneSłowo(); // Aktualizujemy wpisywane słowo
                }

                //działanie backspace
        function usunOstatniaLitere() {
            var wpisywaneSłowo = document.getElementById('wpisywaneSłowo');
            var aktualnyTekst = wpisywaneSłowo.value;


        }
                // Funkcja aktualizująca wpisywane słowo
                function aktualizujWpisywaneSłowo() {
                    var wpisywaneSłowo = document.getElementById('wpisywaneSłowo');
                    wpisywaneSłowo.value = wybraneLitery.join('');
                }

        function sprawdz() {
            var wpisaneSlowo = document.getElementById('wpisywaneSłowo').value;

            if (wpisaneSlowo === slowo1) {
                document.getElementById('slowo1').style.display = 'block';
            } else if (wpisaneSlowo === slowo2) {
                document.getElementById('slowo2').style.display = 'block';
            } else if (wpisaneSlowo === slowo3) {
                document.getElementById('slowo3').style.display = 'block';
            } else if (wpisaneSlowo === slowo4) {
                document.getElementById('slowo4').style.display = 'block';
            } else {
                alert("Błędne słowo!");
            }
        }

    function wybierzPoziom(poziom) {
        switch (poziom.toLowerCase()) {
            case 'latwy':
                czasStartowy = 20 * 60;
                break;
            case 'sredni':
                czasStartowy = 15 * 60;
                break;
            case 'trudny':
                czasStartowy = 10 * 60;
                break;
            default:
                czasStartowy = 0;
        }
        poziomWybrany = true;

            // Odblokowujemy przyciski na klawiaturze po wybraniu poziomu trudności
            var klawiatura = document.getElementById('klawiatura');
            var buttons = klawiatura.getElementsByTagName('button');
            for (var button of buttons) {
                button.disabled = false;
            }

        var ramkaPoziomu = document.getElementById('ramkaPoziomu');
        ramkaPoziomu.style.display = 'none';

            rozpocznijGre();
    }

    function rozpocznijGre() {
        var licznik = document.getElementById('licznik');
        var czas = czasStartowy;

        function odliczanieCzasu() {
            var minuty = Math.floor(czas / 60);
            var sekundy = czas % 60;
                licznik.innerHTML = minuty + 'm ' + (sekundy < 10 ? '0' : '') + sekundy + 's';
            czas--;
            if (czas < 0) {
                clearInterval(timer);
                licznik.innerHTML = 'Koniec czasu!';
            }
        }

        clearInterval(timer);
        odliczanieCzasu();
        timer = setInterval(odliczanieCzasu, 1000);
    }

        document.addEventListener('DOMContentLoaded', inicjujKlawiature);
</script>
</body>
</html>

