@{
    ViewData["Title"] = "Poziom Trudności";
}
@model Gry_Slownikowe.Models.ZgadywankiModel


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/zgadywanki.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="con">
        <div class="frame" id="ramkaPoziomu">
            <h1>Wybierz poziom trudności:</h1>

            <div class="poziom-buttons">
                <button id="latwy" class="btn btn-primary" onclick="wybierzPoziom('latwy')">Łatwy</button>
                <button id="sredni" class="btn btn-primary" onclick="wybierzPoziom('sredni')">Średni</button>
                <button id="trudny" class="btn btn-primary" onclick="wybierzPoziom('trudny')">Trudny</button>
            </div>
        </div>

        <div id="licznik"></div>

        <div id="kontener">
            <div id="ramkaWybranychSlow" style="margin-bottom: 10px;">
                <h2 class="tytul">Wpisywane słowa:</h2>
                <div id="wybraneLitery" style="margin-bottom: 10px;"></div>
            </div>


            <input type="text" id="wpisywaneSłowo" readonly style="margin-bottom: 10px;">
            <button onclick="usunOstatniaLitere()">Backspace</button>
            <button id="przyciskSprawdz" onclick="sprawdz()">Sprawdź</button>
            <button id="przyciskMieszaj" onclick="mieszaj_literki()">Mieszaj</button>

            <div id="klawiatura" style="margin-top: 10px;"></div>

            <div id="ramkaPonumerowanychSlow" style="margin-top: 20px; ">
                <h2 class="tytul">Słowa do odgadnięcia:</h2>
                <div id="slowo1" class="slowo" style="display: none; "></div>

                <!-- <div id="slowo1" class="slowo" style="display: none;"></div> -->

                <div id="slowo2" class="slowo" style="display: none;"></div>
                <div id="slowo3" class="slowo" style="display: none;"></div>
                <div id="slowo4" class="slowo" style="display: none;"></div>

            </div>
            <div id="error" class="error" style="display: none;">Błędne słowo!</div>
        </div>

        <table id="punktyTable">
            <tr>
                <th>Punkty</th>
               
            </tr>
            <tr>
                <td id="punkty">0</td>
                
            </tr>
        </table>

    </div>

    <!-- Okno dialogowe o wygranej -->
    <div id="winModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeWinModal()">&times;</span>
            <h2>Gratulacje!</h2>
            <p>Odgadłeś/aś wszystkie słowa :3</p>
            <p>Punkty: <span id="modal-punkty"></span></p>
            <p>Czas: <span id="modal-czas"></span></p>
        </div>
    </div>

    <!-- Okno dialogowe o przegranej -->
    <div id="lostModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLostModal()">&times;</span>
            <h2>Krytyczne 1</h2>
            <p>Może następnym razem kości będą po twojej stronie</p>
            <p>Zdobyte punkty: <span id="modal-lost-punkty"></span></p>
            <p>Słowa do odgadnięcia:</p>
            <ul id="modal-lost-words"></ul>
        </div>
    </div>


    <script>
        var wybraneLitery = [];
        var poziomWybrany = false; // Zmienna określająca, czy poziom trudności został wybrany
        var czasStartowy;
        var timer;
        var startTime;
        var punkty = 0; //Zmienna przechowująca punkty gracza

        var slowo1 = @Html.Raw(Json.Serialize(@Model.Slowo1));
        var slowo2 = @Html.Raw(Json.Serialize(@Model.Slowo2));
        var slowo3 = @Html.Raw(Json.Serialize(@Model.Slowo3));
        var slowo4 = @Html.Raw(Json.Serialize(@Model.Slowo4));

        document.getElementById('slowo1').innerHTML = '<input type="text" value="1. ' + slowo1 + '" readonly>';
        document.getElementById('slowo2').innerHTML = '<input type="text" value="2. ' + slowo2 + '" readonly>';
        document.getElementById('slowo3').innerHTML = '<input type="text" value="3. ' + slowo3 + '" readonly>';
        document.getElementById('slowo4').innerHTML = '<input type="text" value="4. ' + slowo4 + '" readonly>';

        var slowa = [slowo1, slowo2, slowo3, slowo4];



        //wyświetlenie słów zawartych w tabeli (konsola)
        gry_slownikowe_showme = () => {
            document.querySelectorAll('.slowo').forEach((el) => {
                el.style.display = 'flex';
            });
        }

        //schowanie słów zawartych w tabeli (konsola)
        gry_slownikowe_hide = () => {
            document.querySelectorAll('.slowo').forEach((el) => {
                el.style.display = 'none';
            });
        }

        //inicjalizacja klawiatury
        function inicjujKlawiature() {


            //Sprawdzamy czy dana litera jest w zbiorze jeżeli nie to ją dodajemy i tworzymy z niego przycisk
            var klawiatura = document.getElementById('klawiatura');
            klawiatura.innerHTML = '';

            let literki = new Set();

            for (let slowo of slowa) {
                for (let litera of slowo) {
                    if (!literki.has(litera)) {
                        literki.add(litera);
                        let button = document.createElement('button');
                        button.innerHTML = litera;
                        button.disabled = true; // Na początku przyciski są wyłączone
                        button.addEventListener("click", () => {
                            wybierzLitere(litera);
                        });
                        klawiatura.appendChild(button);
                    }
                }
            }

            mieszaj_literki();
        }

        // Funkcja wybierająca literę
        function wybierzLitere(litera) {
            wybraneLitery.push(litera); // Dodajemy wybraną literę do tablicy wybranych liter
            aktualizujWpisywaneSłowo(); // Aktualizujemy wpisywane słowo
        }

        //działanie backspace
        function usunOstatniaLitere() {

            if (wybraneLitery.length > 0) {
                wybraneLitery.pop(); // Usuń ostatnią literę z tablicy wybranych liter
                aktualizujWpisywaneSłowo(); // Aktualizuj wpisywane słowo
            }


        }
        // Funkcja aktualizująca wpisywane słowo
        function aktualizujWpisywaneSłowo() {
            var wpisywaneSłowo = document.getElementById('wpisywaneSłowo');
            wpisywaneSłowo.value = wybraneLitery.join('');
        }

        function sprawdz() {
            var wpisaneSlowo = document.getElementById('wpisywaneSłowo').value;
            var slowaDoSprawdzenia = [slowo1, slowo2, slowo3, slowo4];
            

            for (var i = 0; i < slowaDoSprawdzenia.length; i++) {
                if (wpisaneSlowo === slowaDoSprawdzenia[i]) {
                    document.getElementById('slowo' + (i + 1)).style.display = 'block';
                    punkty += 5;
                    document.getElementById('punkty').innerHTML = punkty;
                    if (punkty >= 20) { // Sprawdzenie, czy liczba punktów wynosi co najmniej 20
                        clearInterval(timer); // Zatrzymaj timer
                        showModal(); // Pokaz okienko z gratulacjami
                    }
                    return;
                }
            }
            alert("Błędne słowo!");
        }

                


        //Mieszanie liter/przycisków, zmiana kolejności
        function mieszaj_literki() {
            let klawiatura = document.getElementById('klawiatura');
            let przyciski = Array.from(klawiatura.children);

            for (let i = przyciski.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [przyciski[i], przyciski[j]] = [przyciski[j], przyciski[i]];
            }

            klawiatura.innerHTML = '';
            przyciski.forEach(i => klawiatura.appendChild(i));
        }

        function wybierzPoziom(poziom) {
            switch (poziom.toLowerCase()) {
                case 'latwy':
                    czasStartowy = 20 * 60;
                    break;
                case 'sredni':
                    czasStartowy = 15 * 60;
                    break;
                case 'trudny':
                    czasStartowy = 0.1 * 60;
                    break;
                default:
                    czasStartowy = 0;
            }
            poziomWybrany = true;

            // Odblokowujemy przyciski na klawiaturze po wybraniu poziomu trudności
            var klawiatura = document.getElementById('klawiatura');
            var buttons = klawiatura.getElementsByTagName('button');
            for (var button of buttons) {
                button.disabled = false;
            }

            var ramkaPoziomu = document.getElementById('ramkaPoziomu');
            ramkaPoziomu.style.display = 'none';

            rozpocznijGre();
        }

        function rozpocznijGre() {
            var licznik = document.getElementById('licznik');
            var czas = czasStartowy;
            startTime = new Date();

            function odliczanieCzasu() {
                var minuty = Math.floor(czas / 60);
                var sekundy = czas % 60;
                licznik.innerHTML = minuty + 'm ' + (sekundy < 10 ? '0' : '') + sekundy + 's';
                czas--;
                if (czas < 0) {
                    clearInterval(timer);
                    showLostModal(); // Wywołaj funkcję pokazującą okno o przegranej
                }
            }

            clearInterval(timer);
            odliczanieCzasu();
            timer = setInterval(odliczanieCzasu, 1000);
        }

        //okienko z przegraną
        function showModal() {
            var modal = document.getElementById("winModal");
            var modalPunkty = document.getElementById("modal-punkty");
            var modalCzas = document.getElementById("modal-czas");

            modalPunkty.innerHTML = punkty;
            modalCzas.innerHTML = getTimeElapsed(startTime, new Date());

            modal.style.display = "block";
        }

        //okienko z przegraną
        function showLostModal() {
            var modal = document.getElementById("lostModal");
            var modalPunkty = document.getElementById("modal-lost-punkty"); //punkty
            var modalAllWords = document.getElementById("modal-lost-words"); // słowa do odgadnięcia

            // Wyczyść listę i dodaj wszystkie słowa
            modalAllWords.innerHTML = "";
            slowa.forEach(function (slowo) {
                var div = document.createElement("div");
                div.textContent = " -> " + slowo; 
                modalAllWords.appendChild(div);
            });

            // punkty w prawym górnym rogu okna
            modalPunkty.innerHTML = punkty;

            modal.style.display = "block";
        }


        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

        function getTimeElapsed(start, end) {
            var diff = Math.abs(end - start) / 1000;
            var minutes = Math.floor(diff / 60);
            var seconds = Math.floor(diff % 60);
            return (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        }

        // Funkcja zamykająca okno dialogowe o wygranej
        function closeWinModal() {
            var modal = document.getElementById("winModal");
            modal.style.display = "none";
            window.location.reload(); // Odśwież stronę
        }

        // Funkcja zamykająca okno dialogowe o przegranej
        function closeLostModal() {
            var modal = document.getElementById("lostModal");
            modal.style.display = "none";
            window.location.reload(); // Odśwież stronę
        }

        document.addEventListener('DOMContentLoaded', inicjujKlawiature);
    </script>
</body>
</html>

